@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 430px) {
    .logo {
        font-size:1rem;
    }

    nav {
        height: 12vh;
    }

    section {
        padding-top: 4vh;
        height: 96vh;
        margin: 0 1rem;
        box-sizing: border-box;
        min-height: fit-content;
    }
    #profile {
        gap: 2rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0rem;
    }
    .section_pic-container {
        display: inline-block;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 300px;
        height: 300px;
    }
    .section_pic-container img {
        width: 300px;
        height: 300px;
    }

    .section_text p {
        font-size: 1rem;
    }
    
    .section_text h1 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 2rem;
        text-align: center;
    }

    .profile-text h2 {
        font-size: 1rem;
    }

    .profile-text p {
        font-size: 0.9rem;
    }

    #projects .title {
        font-size: 1.5rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        max-width: 100%;
    }
    .contact-info-upper-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    section {
        padding-top: 4vh;
        height: auto;
        margin: 0 2rem;
        box-sizing: border-box;
        min-height: fit-content;
    }
    #profile {
        gap: 5rem;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .section_pic-container {
        display: inline-block;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .section-pic-container img {
        width: 200px;
        height: 200px;
    }

    .profile-text h2 {
        font-size: 1.5rem;
    }

    .profile-text p {
        font-size: 0.9rem;
    }

    .section-container, #profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects .title {
        font-size: 2rem;
    }

    footer {
        height: 20vh;
    }
}
